<% include ./partials/header %>
<section id="search" class="search-wrap">
<% include ./partials/header %>
<section id="search" class="search-wrap" >
  <div class="container">
    <div class="row mt-2">
      <div class="col-md-6 m-auto">
        <div class="card card-body">
          <h1 class="text-center mb-3">
            <i class="fas fa-sign-in-alt"></i>
            Notification
          </h1>
          <h1>We have sent you an email, Check on the provided link on your email to confirm registration</h1>
        </div>
      </div>
    </div>
  </div>
</section>
